[Desktop Entry]
Type=Application
Name=GuadaMint Updater
Name[es_ES]=Apps-guadalinex-20
Comment=Actualizador automático escolar
Comment[es_ES]=Actualizador de guadamint
Exec=sudo /usr/bin/guadamint-update.py
Icon=/usr/share/icons/guadamintuz.svg
Terminal=true
Categories=System;Settings;
X-GNOME-Autostart-enabled=true
# Esperamos 5 segundos para asegurar que el escritorio cargó bien
X-GNOME-Autostart-Delay=5
NoDisplay=false
Hidden=false
